body {
    background-color: #14110E;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

button:hover {
    cursor: pointer;
    border: 1px solid #FFFFFF;
    transition: .3s;
}

/* HEADER */

.header {
    background-color: #1C1814;
}

.header__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    margin: 0px auto;

    width: 70%;
}

.dropdown-content {
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 10px;
    background-color: #1C1814;
    border: 0;
    display: none;
    background-image: url(../pictures/burger-menu.png);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    margin-right: 48px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #C99E71;
    transition: 0.2s;
}

a.active {
    color: #C99E71;
}

.header__first-list {
    margin-left: 2.5%;
    font-family: 'Inter-Regular';
    font-size: 18px;
}

.header__first-list span {
    font-family: 'Inter-Bold';
}

.header__second-list {
    margin-left: 22%;
    font-family: 'Inter-Regular';
    font-size: 18px;
    display: flex;
    align-items: center;
}

.header__second-list li:last-child {
    margin-right: 0;
}

.header__logo {
    width: 16.5%;
}

/* HOME-SECTION */

.home-section {
    background: url(../pictures/bg-image.png) no-repeat;
    background-size: cover;
    height: 740px;
}

.home-section__text-block {
    padding-top: 147px ;
    padding-left: 19.7%;
}

.text-block__title {
    font-family: 'Righteous-Regular';
    font-style: normal;
    font-weight: 400;

    font-size: 72px;
    line-height: 130%;

    margin-top: 0;
    margin-bottom: 0;
}

.text-block__paragraph {
    font-family: 'Urbanist-Medium';
    font-size: 20px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);

    margin-top: 32px;
    margin-bottom: 0;
}

.button {
    width: 202px;
    height: 70px;
    background: #C99E71;
    color: #FFFFFF;

    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;

    /*для размера кнопки и располажения текста как в макете*/
    padding-top: 4px;
    border: 2px solid #C99E71; 
}

.button:hover {
    background: #000000;
}

.text-block__button {
    margin-top: 64px;
}

/* SECTION-ABOUT-BENEFITS */

.section-about-benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 117px auto;
}

.benefits__benefit {
    margin-right: 36px;
}

.benefits__benefit:last-child {
    margin-right: 0;
}

.benefits__paragraph {
    font-family: 'Righteous-Regular';
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
}

.benefits__benefit span {
    margin-right: 7px;
    color: #C99E71;
}

/* SECTION-OUR-HISTORY */

.section-our-history {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 7.1%;
}

.section-our-history__pictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 635px;
    width: 628px;

    margin-right: 32px;
}

.pictures__first-picture {
    margin-right: 32px;
    margin-bottom: 32px;
}

.pictures__second-picture {
    margin-right: 32px;
}

.section-our-history__history {
    background-color: #1C1814;
    width: 510px;

    padding-top: 102px;
}

.history__topic {
    padding-left: 57px;

    color: #C99E71;

    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 12px;
}

.history__title {
    font-family: 'Righteous-Regular';
    font-size: 48px;
    line-height: 130%;
    font-weight: 400;

    padding-left: 56px;
    margin-top: 0;
    margin-bottom: 38px;
}

.history__paragraph {
    padding-left: 56px;

    font-family: 'Urbanist-Medium';
    font-size: 16px;
    line-height: 180%;
    width: 398px;

    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
}


/* MENU */

.section-menu {
    display: flex;
    justify-content: center;
}

.section-menu__body {
    width: 1170px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    margin-top: 115px;
}

.section-menu__topic {
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    margin-bottom: 13px;

    color: #C99E71;
}

.section-menu__title {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    text-align: center;

    margin-top: 0;
    margin-bottom: 60px;
}

.section-menu__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cards__card {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 34px;
    margin-right: 40px;
    padding: 23px 24px;

    border: 1px solid #32323D;
}

.cards__card:nth-child(2n) {
    margin-right: 0;
}

.card__name {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Righteous-Regular';
    font-size: 24px;
    line-height: 30px;
}

.card__price {
    margin-left: 115px;
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;

    color: #C99E71;
}

/*TESTIMONIAL*/

.section-testimonial {
    display: flex;
    justify-content: center;
    
    /* margin-left: 20px; */
}

.section-testimonial__body {
    display: flex;
    justify-content: center;
    flex-direction: column;


    margin-top: 110px;
}

.section-testimonial__topic {
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    margin-bottom: 12px;
    margin-top: 0;

    color: #C99E71;
}

.section-testimonial__title {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    text-align: center;

    margin-top: 0;
    margin-bottom: 56px;
}

.section-testimonial__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider__wrapper {
    display: flex;
    flex-direction: row;
    width: 1170px;
    overflow: hidden;
}

.slider__line {
    width: 3510px;

    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider__items {
    display: flex;
    flex-direction: row;
}

.slider__indicators {
    width: 120px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.indicator {
    width: 50px;
    height: 4px;
    background-color: #C99E71;
    border-radius: 3px;

    display: flex;
    position: relative;
    left: 0;
    transition: all ease .6s;

}

.button-prev {
    width: 56px;
    height: 56px;
    background: #121315;
    border-radius: 50px;
    border: 0;

    margin-right: 12px;
}

.button-next {
    width: 56px;
    height: 56px;
    background: #C99E71;
    border-radius: 50px;
    border: 0;
}

.testimonial {
    background-color: #1C1814;
    padding: 40px 40px 22px 40px;
}

.slider__testimonial {
    margin-right: 40px;
}

.slider__testimonial:last-child {
    margin-right: 0px;
}

.slider__numbers-wrapper {
    display: flex;
    flex-direction: row;
    width: 120px;
    overflow: hidden;
}

.slider__numbers-wrapper p {
    width: 120px;
    margin-top: 0;
}

.slider__numberpeople {
    font-family: 'Urbanist-SemiBold';
    font-size: 20px;
    line-height: 135%;

    color: #C99E71;

    margin-top: 38px;

    width: 360px;
    display: flex;
    position: relative;
    left: 0;
}

.slider-buttons__button {
    padding-top: 4px;
}

.slider-buttons {
    margin-top: 38px;
}

.testimonial__first-row {
    display: flex;
    flex-direction: row;
}

.testimonial__image {
    margin-right: 24px;
    height: 149px;
}

.testimonial__second-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.testimonial__paragraph {
    font-family: 'Urbanist-Medium';
    font-size: 16px;
    line-height: 180%;

    text-transform: capitalize;

    margin-top: 0;

    color: rgba(255, 255, 255, 0.6);
}

.testimonial__name-job {
    font-family: 'Urbanist-Medium';
    font-size: 18px;
    line-height: 120%;
    margin-top: 17px;
}

.testimonial__name-job span { /*Для нужного отступа разделить строки в разные теги или можно оставить с таким отступом?*/
    font-family: 'Urbanist-Medium';
    font-size: 14px;
    line-height: 180%;

    text-transform: capitalize;

    color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}

img.testimonial__stars {
    margin-top: 25px;
}

.row {
    width: 485px;
}

.slider__forward-button {
    background: #C99E71;
    border-radius: 50px;
    padding: 0;
}

/*POPULAR PRODUCT*/

.section-product {
    display: flex;
    justify-content: center;
}

.section-product__body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 96px;

    width: 93.4%;
}

.section-product__topic {
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    margin-bottom: 12px;

    color: #C99E71;
}

.section-product__title {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;

    margin-top: 0;
    margin-bottom: 56px;

    text-align: center;
}

.section-product__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-product__cards .cards__card {
    display: flex;
    flex-direction: column;

    background: #121315;
    border: 0;

    padding: 48px 48px 0px;
    height: 529px;
    margin-right: 36px;
}

.section-product__cards .cards__card:last-child {
    margin-right: 0;
}

.section-product__cards p {
    font-family: 'Righteous-Regular';
    font-size: 24px;
    line-height: 30px;
    
    margin-top: 35px;
    margin-bottom: 37px;

    text-transform: uppercase;
}

.card__button {
    background: #C99E71;
    padding: 12px 20px;

    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    border: 0;

    display: flex;
    align-items: center;
}

.card__button:hover {
    background: #121315;
}

.card__button img {
    margin-right: 12px;
    width: 24px;
}

.cards__card p.type {
    font-family: 'Urbanist-Medium';
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #C99E71;

    margin: 0;
    margin-right: 13px;
}

.inactive-card__type-testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 36px;
    margin-bottom: 20px;
}

.cards__card p.price {
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;
}

.cards__card p.price span {
    color: #C99E71;
}

p.inactive-card__name{
    margin-top: 0px;
    margin-bottom: 20px;
}

p.price {
    margin-top: 0;
    margin-bottom: 0;
}

.section-product__button {
    font-family: 'Inter-Bold';
    font-size: 18px;
    line-height: 22px;

    padding: 20px 36px;
    width: 257px;
    border: 0;

    /* margin-top: 22px;
    margin-left: 475px; margin: 0 auto не работает */
    margin: 22px auto auto;

    text-transform: uppercase;

    color: #FFFFFF;
    background: #C99E71;
}

.section-product__button:hover {
    background: #14110E;
}

/* COFFEE-MACHINE */

.coffee-machine {
    display: flex;
    justify-content: center;
}

.coffee-machine__body {
    background-color: #1C1814;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 138px;
}

.coffee-machine__body img {
    margin: 85px 160px 84px 160px;
}

.coffee-machine__text-block {
    margin-right: 89px;
}

.coffee-machine__text-block h3 {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;

    margin-top: 72px;
    margin-bottom: 36px;
}

.coffee-machine__text-block p {
    font-family: 'Urbanist-Medium';
    font-size: 16px;
    line-height: 180%;

    text-transform: capitalize;

    margin-top: 0;
    margin-bottom: 36px;

    width: 526px;

    color: rgba(255, 255, 255, 0.6);
}

.coffee-machine__button {
    background: #C99E71;

    padding: 20px 36px;
    border: 0;

    font-family: 'Inter-Bold';
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.coffee-machine__button:hover {
    background: #1C1814;

}

/*RESERVATION*/

.section-reservation {
    display: flex;
    justify-content: center;
}

.section-reservation__body {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;

    margin-top: 140px;
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #1C1814;

    padding: 72px 48px;
}

.booking input {
    background-color: #14110E;
    color: #FFFFFF;

    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 180%;

    text-transform: capitalize;

    margin-bottom: 24px;
    padding: 14px 20px;

    width: 450px;
    height: 36px;

    border: 0;
}

.booking input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.booking input:last-of-type {
    margin-bottom: 56px;
}

.booking__topic {
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    margin-top: 0px;
    margin-bottom: 12px;

    color: #C99E71;
}

.booking__title {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    margin-top: 0;
    margin-bottom: 56px;

    color: #FFFFFF;
}

.booking__button {
    font-family: 'Inter-Bold';
    font-size: 18px;
    line-height: 22px;
    
    width: 204px;
    margin: 0 auto;
    border: 0;

    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #C99E71;

    padding: 20px 34px;
}

.booking__button:hover {
    background: #1C1814;
}

/* SECOND-TESTIMONIAL */

.second-testimonial {
    display: flex;
    justify-content: center;
}

.second-testimonial__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second-testimonial__topic {
    font-family: 'Urbanist-SemiBold';
    font-size: 18px;
    line-height: 22px;

    color: #C99E71;

    margin-top: 137px;
    margin-bottom: 12px;

    text-align: center;
}

.second-testimonial__title {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;

    margin-top: 0;

    text-align: center;
}

.second-testimonial__cards {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.second-testimonial__cards .cards__card {
    display: flex;
    flex-direction: column;

    padding: 0 0 25px 0;
    border: 0;
    margin-right: 37px;

    background-color: #1C1814;
}

.second-testimonial__cards .cards__card:last-of-type {
    margin-right: 0;
}

.card__row {
    display: flex;
    justify-content: space-between;

    width: 318px;

    margin-bottom: -2px;
}

.card__row p {
    font-family: 'Urbanist-Medium';
    font-size: 18px;
    line-height: 22px;
}

.card__row span {
    color: #C99E71;
}

.second-testimonial__cards .cards__card p.name {
    font-family: 'Righteous-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    text-transform: capitalize;

    padding-right: 32px;
    margin-top: 0px;
}

.second-testimonial__cards .cards__card a {
    display: flex;
    align-items: center;
    justify-self: left;

    padding-right: 215px;
    margin-top: 12px;
    margin-left: 7px;

    font-family: 'Urbanist-Medium';
    font-size: 16px;
    line-height: 19px;

    color: #C99E71;
}

.second-testimonial__cards .cards__card a img{
    margin-left: 8px;
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
}

.footer__body {
    display: flex;
    flex-direction: column;

    margin-top: 108px;
}

.footer__navigation li {
    margin: auto 36px auto 0;
}

.footer__navigation a {
    font-family: 'Urbanist-Medium';
    font-size: 20px;
    line-height: 100%;

    color: #FFFFFF;
}

.footer__navigation a:hover {
    color: #C99E71;
    transition: 0.2s;
}

.footer__first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    margin: auto;
}

.inactive.card__button {
    display: none;
}

.footer__search-form {
    width: 328px;
    height: 72px;

    background: #1C1814;
    border-radius: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__search-form input {
    font-family: 'Urbanist-Medium';
    font-size: 16px;
    line-height: 180%;

    text-transform: capitalize;

    background: #1C1814;
    border: 0;
    color: #FFFFFF;

    margin-left: 26px;
}

.footer__search-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer__search-form button {
    background: #C99E71;
    border-radius: 50px;

    width: 48px;
    height: 48px;
    border: 0;

    margin-top: -4px;
    margin-right: 13px;
    padding-top: 4px;
    padding-left: 8px;
}

.footer__search-form button:hover {
    box-shadow: 0px 0px 44px rgba(201, 158, 113, 0.2);
    transition: .2s;
}

.footer__second-part {
    display: flex;
    justify-content: center;

    background: #1C1814;

    margin-top: 72px;
    width: 98.8vw;
}

.footer__second-part p {
    font-family: 'Urbanist-Medium';
    font-size: 14px;
    line-height: 180%;

    color: #FFFFFF;
}
